@page "/create-wallet"
@using DevExpressExpenseControl.Frontend.ExpenseControl.Models
@rendermode InteractiveServer
<PageTitle>Create Wallet</PageTitle>

<h1>Create wallet</h1>
<DxFormLayout CssClass="w-100">
    <DxFormLayoutTabPages @bind-ActiveTabIndex="@ActiveTabIndex">
        <DxFormLayoutTabPage Caption="Information">
            <DxFormLayoutItem Caption="Wallet Name:">
                <DxTextBox @bind-Text="@Name" />
            </DxFormLayoutItem>
        </DxFormLayoutTabPage>
    </DxFormLayoutTabPages>
</DxFormLayout>
<div class="w-100 mx-0">
    <p class="demo-text col-12 mt-2">
        @nameof(Name)=<b>@Name</b>,
        @nameof(LastName)=<b>@LastName</b>,
        @nameof(BirthDate)=<b>@BirthDate</b>
    </p>
</div>
<div class="w-100 mx-0">
    <p class="demo-text col-12 mt-2">
        @nameof(Address)=<b>@Address</b>,
        @nameof(Contact)=<b>@Contact</b>,
    </p>
</div>

@code {
    int ActiveTabIndex { get; set; } = 1;
    public required string Name { get; set; }
    public string? MiddleName { get; set; }
    public required string LastName { get; set; }
    public string? SurName { get; set; }
    public IEnumerable<IdentificationType> IdentificationsType { get; set; } = [];
    public Guid IdentificationTypeId { get; set; }
    public required string IdentificationNumber { get; set; }
    public DateTime BirthDate { get; set; } = DateTime.Now.AddYears(-20);
    public required string Address { get; set; }
    public required string Contact { get; set; }
}