@page "/create-user"
@using DevExpressExpenseControl.Frontend.ExpenseControl.Models
@rendermode InteractiveServer
<PageTitle>Create User</PageTitle>

<h1>Create user</h1>
<DxFormLayout CssClass="w-100">
    <DxFormLayoutTabPages @bind-ActiveTabIndex="@ActiveTabIndex">
        <DxFormLayoutTabPage Caption="Personal Information">
            <DxFormLayoutItem Caption="First Name:">
                <DxTextBox @bind-Text="@Name" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="MiddleName:">
                <DxTextBox @bind-Text="@MiddleName" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Last Name:">
                <DxTextBox @bind-Text="@LastName" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Sur Name:">
                <DxTextBox @bind-Text="@SurName" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Identification Type:">
                <DxComboBox Data="@IdentificationsType" @bind-Value="@IdentificationTypeId" AllowUserInput="false"/>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Identification Number:">
                <DxTextBox @bind-Text="@IdentificationNumber" />
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="Birth Date:">
                <DxDateEdit @bind-Date="@BirthDate" />
            </DxFormLayoutItem>
        </DxFormLayoutTabPage>
        <DxFormLayoutTabPage Caption="Contact Information">
            <DxFormLayoutItem Caption="Address:">
                <DxTextBox @bind-Text="@Address" />
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Contact:">
                <DxTextBox @bind-Text="@Contact" />
            </DxFormLayoutItem>
        </DxFormLayoutTabPage>
    </DxFormLayoutTabPages>
</DxFormLayout>
<div class="w-100 mx-0">
    <p class="demo-text col-12 mt-2">
        @nameof(Name)=<b>@Name</b>,
        @nameof(LastName)=<b>@LastName</b>,
        @nameof(BirthDate)=<b>@BirthDate</b>
    </p>
</div>
<div class="w-100 mx-0">
    <p class="demo-text col-12 mt-2">
        @nameof(Address)=<b>@Address</b>,
        @nameof(Contact)=<b>@Contact</b>,
    </p>
</div>

@code {
    int ActiveTabIndex { get; set; } = 1;
    public required string Name { get; set; }
    public string? MiddleName { get; set; }
    public required string LastName { get; set; }
    public string? SurName { get; set; }
    public IEnumerable<IdentificationType> IdentificationsType { get; set; } = [];
    public Guid IdentificationTypeId { get; set; }
    public required string IdentificationNumber { get; set; }
    public DateTime BirthDate { get; set; } = DateTime.Now.AddYears(-20);
    public required string Address { get; set; }
    public required string Contact { get; set; }
}